@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img{
    background-image: url(./assets/film_roll.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
}